.hero-section {
    display: flex;
    width: 100%;
    /* height: 12rem; */
    position: sticky;
    align-items: center;
    background-color: gray;
    justify-content: center;
    border: white 1px;
    padding: 40px;
}

.hero-title {
    color: white;
}

.hero-title h1{
    font-size: 7rem;
}